
.content-inicio {
  content: "";
  background-image: url("../src/Images/fondo.png");
  background-size: cover;
  background-position: center;
  height: calc(100% - 4.8rem);
  width: calc(100% - 6.2rem);
  margin-top: 4.7rem;
  margin-left: 6.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  overflow: hidden;
}

.cuadro-texto {
  display: flex ;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px;
  width: 70vw; 
  height: auto;
  background-color:rgba(92, 107, 110, .95);
  border-radius: 45px;
  border: black 3px;
  color: white;

  font-family: 'livvic';
  font-size: 1.5vw;
  line-height: 1.9;
  margin-bottom: 30px;
}

.cuadro-texto h2 {
  font-size: 2vw;
  font-weight: bold;
}

.cuadro-texto p {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.boton-crear-cuenta {
  margin-top: 20px;
}

.boton-crear-cuenta:hover {
  background-color: #50656a;
  color: black;
}
