
.parent-container-leftnav {
    position: fixed;
    z-index: 100;
    margin-top: 4.8rem;
    width: 6.3rem;
}

#barraLateral{
    background-color: hsl(196, 12%, 18%);
    flex-grow: 1;
    height: 100vh;
}

#barraLateral .nav-link.active {
    background-color: #5DADE2; /* Color de fondo cuando está activo */
    border-bottom: black;
    border-color: black;
    color: black; /* Color de texto cuando está activo */
    width: 6.3rem;
}

.HomeIcon{
    color: white;
}

.AudiotrackIcon{
    color: white;
}

.MovieIcon{
    color: white;
}

.SlideshowIcon{
    color: white;
}

.HiveIcon{
    color: white;
}

.HelpOutlineIcon{
    color: white;
}

span{
    color: white;
}

li:hover .HomeIcon,
li:hover .AudiotrackIcon,
li:hover .MovieIcon,
li:hover .SlideshowIcon,
li:hover .HiveIcon,
li:hover .HelpOutlineIcon,
li:hover span{
    color:  #a1a0a0;
    transition: background-color 0.3s, color 0.3s; /* Agrega transición suave */
}


.HelpOutlineIcon {
    margin-top: 10px; /* Ajusta este valor según lo necesites */
}

#seccionInicio,
#seccionMusica,
#seccionPeliculas,
#seccionSeries,
#seccionBiblioteca,
#seccionAyuda{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
