.parent-container-resultadosmusica {
  margin-top: 4.8rem;
  margin-left: 6.3rem;
  width: calc(100% - 6.3rem);

}

.pantalla{
  margin-top: 13vh;
  margin-left: 6.3rem;
  /*background-color: #E3E9EA;*/
}

.carousel-container {
  position: relative;
  width: 95%;
  overflow: hidden; /* Evita que los botones se desborden fuera del contenedor */
}

/* Estilos para los botones de navegación */
.carousel-control{
  width: 0%;

}

/* Estilos para el botón de retroceso */
a.carousel-control-prev {
  color: black;
  width: 40px;
  margin-left: -26px;
}

/* Estilos para el botón de avance */
a.carousel-control-next {
  color: black;
  width: 40px;
  margin-right: -26px;
}

.cancion{
  border-radius: 5px;
  width: 150px;
  height: 150px;
}

.cancion:hover {
  transform: scale(1.1);
}

.tituloCancion{
  margin-top: 1vh;
  text-align: center;
  font-size: 20px;
  color: black;
}

#boton-buscar-musica {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #455559;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#boton-buscar-musica:hover {
  background-color: #373f42;
}